@font-face {
  font-family: 'Ribeye Marrow';
  font-style: normal;
  font-weight: 400;
  src: url("q7cBSA-4ErAXBCDFPrhlYzCl-fJ8GgY9_EQNQscr0Sc.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/ribeyemarrow/v3/q7cBSA-4ErAXBCDFPrhlYzCl-fJ8GgY9_EQNQscr0Sc.eot*/);
  src: local('Ribeye Marrow'), local('RibeyeMarrow-Regular'), url("q7cBSA-4ErAXBCDFPrhlYzCl-fJ8GgY9_EQNQscr0Sc.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/ribeyemarrow/v3/q7cBSA-4ErAXBCDFPrhlYzCl-fJ8GgY9_EQNQscr0Sc.eot*/) format('embedded-opentype'), url("q7cBSA-4ErAXBCDFPrhlY9q3D4G_1BF22tl7ELH_ZiM.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/ribeyemarrow/v3/q7cBSA-4ErAXBCDFPrhlY9q3D4G_1BF22tl7ELH_ZiM.woff*/) format('woff');
}
