@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: url("1wiHF6pWOa568Cj3p-anxFQlYEbsez9cZjKsNMjLOwM.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/parisienne/v1/1wiHF6pWOa568Cj3p-anxFQlYEbsez9cZjKsNMjLOwM.eot*/);
  src: local('Parisienne'), local('Parisienne-Regular'), url("1wiHF6pWOa568Cj3p-anxFQlYEbsez9cZjKsNMjLOwM.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/parisienne/v1/1wiHF6pWOa568Cj3p-anxFQlYEbsez9cZjKsNMjLOwM.eot*/) format('embedded-opentype'), url("1wiHF6pWOa568Cj3p-anxBsxEYwM7FgeyaSgU71cLG0.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/parisienne/v1/1wiHF6pWOa568Cj3p-anxBsxEYwM7FgeyaSgU71cLG0.woff*/) format('woff');
}
